* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: #26262A;
    --background-two: #000000;
    --white: #ebebeb;
    --button: #3E3D40;
    --background-input: #1D1D1D;
    --subtitle: #cccccc;
}

body {
    background: linear-gradient(90deg, #000000, #3E3D40);
}

.container {
    max-width: 400px;
    background-color: var(--background);
    border-radius: 5px;
    border: 2px solid var(--button);
    margin: 10px auto;
    padding: 20px;
}

h1 {
    color: var(--white);
    font-family: 'Poppins', sans-serif;
    top: 0;
}

h3 {
    color: var(--subtitle);
    font-family: 'Poppins', sans-serif;
    margin-top: 5px;  
    font-weight: 100;
}

img {
    width: 35px;
    vertical-align: -12%;
}

input {
    display: block;
    border-radius: 5px;
    border: 2px solid var(--button);
    background-color: var(--background-input);
    color: var(--white);
    margin: 10px auto;
    width: 100%;
    padding: 10px;
    margin-top: 2rem;
}

button {
    padding: 10px;
    color: var(--white);
    background-color: var(--button);
    border: 1px solid var(--white);
    border-radius: 5px;
    width: 100%;
    margin-top: 1em;
    cursor: pointer;
    font-weight: 400;
}

#results {
    margin-top: 2em;
    color: var(--white);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.preload {
    width: 100%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, #000000, #3E3D40);
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loadingEffect {
    width: 35px;
    height: 35px;
    background-color: var(--white);
    border-radius: 100%;
    animation: effects 0.8s infinite;
}

@keyframes effects {
    0%{
        box-shadow: 0 0 0 0 white;
    }
    100%{
        box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.1);
    }
}